body{
    background-image: url("./backk.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   }
   
   form {
           font-size: 20px;
    }

    input:focus
    {
      border-color: rgb(255, 255, 255);
      outline:0;
     }

   a {
         text-decoration: none;
         color: rgb(92, 58, 146);
   }

   .nav:hover {
          color:rgb(57, 176, 176);
    
   }

   .wh:hover {
        transform: scale(1.5);

   }

