.bigbox{
    margin:20px 200px;
}
h1{
    color:rgb(113, 122, 126);
    text-shadow: rgb(231, 230, 230) 2px 2px 2px;
    font-size: 40px;;
}

p{
    font-size: 20px;
    color:rgb(81, 100, 143)
}
.ulbox{
    margin-top:30px;
    margin-bottom:10px;
    margin-left:0%;
}
.ulbox li{
    border-radius: 15px;;
    float:left;
    width:30%;
    margin-right: 5%;
    margin-bottom: 4%;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.ulbox li img {
    border-radius: 15px;

}


.ulbox li:nth-child(3n){
margin-right: 0%;;

transition-property: transform, box-shadow;
transition-duration: 0.1s;
transition-timing-function: ease-in-out;

}

.ulbox::after{
    content:" ";
    clear:both;
    display:block;
}