.largebox{
    margin:20px 20%;
}

h1{
    color:rgb(21, 141, 197);
    font-weight: 700;

}

#intro{

    color:rgb(34, 192, 86);
    font-size:19px;
    font-weight: 700;
}

li{
    background-color:rgbA(241, 241, 241, 75%);
    border-radius: 20px;
    padding:20px 20px;
    margin-bottom:20px;
}

h2{
    
    color:rgb(54, 54, 54);
    margin-top: 2px;
}
